comp -num_boards 1 # Always put. If something comes later, this will be overwritten.
#comp -platform STRATO # For strato
comp -platform D2 # For Vel2
#comp -platform D1S # For Vel1 SOLO
#comp -platform D1 # For Vel1 QUATTRO

#velsyn -KeepAlive keepThese.ka
#velsyn -Tfi keepThese.ka
velsyn -Dump e long_paths.txt -Dump c0 data_paths.txt

rtlc   -compile_display -allow_ISL -allow_MDR
rtlc   -allow_CVD
rtlc   -allow_UFO
rtlc   -allow_multid_in_dpi
rtlc   -xwave_siglist siglist

rtlc   -partition_module_xrtl Top
rtlc   -aowc_opt
rtlc   -allow_canoe_integration
hvl    -enable_profile_report # From: "comp -enable_profile_report"
#rtlc -compile_display

rtlc -allow_4ST

comp   -enable_visualizer
hvl -cpppath $GNUHOME/bin/g++ -64bit_runtime

comp -hvl questa
